
<%-include('./adminNav.ejs') %>
<body id="space">
    <br>
    <center><h2>Recruiter List</h2></center>
    
    <table border="1" cellspacing="0" cellpadding='10' style="margin : 150px auto 0 auto;">
        
        <thead>
            
                <th>S.no</th>
                <th>Name</th>
                <th>Recruiter Type</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Status</th>
                <th>Admin Verify</th>
                <th>Email Verify</th>
        
        </thead>
        <tbody>

            <%recruiterList.forEach((recruiter,index)=>{%>
                <tr>
                    <td><%=index+1%></td>
                    <td><%=recruiter.name%></td>
                    <td><%=recruiter.recruiter%></td>
                    <td><%=recruiter.email%></td>
                    <td><%=recruiter.contact%></td>
                    <td><%=recruiter.address%></td>
                    <td><%=recruiter.status%></td>
                    <td> <a href="/admin/adminVerifyRecruiter?recruiterEmail=<%=recruiter.email%>">
                        <%=recruiter.adminVerify%>
                    </a></td>
                    <td><%=recruiter.emailVerify%></td>
                   
                </tr>

            <%})%>
        </tbody>
    </table>
  <center><p><span style="color:red; font-size:18px "><%=message%></span></p></center>  
</body>